<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /testMaltGestionDossier/

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>

